@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css");

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: rgb(21, 11, 31);
}
p {
  text-align: justify;
  hyphens: auto;
}

/* // header */
/* //Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.308);
}

.nav-link-container {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* //Logo KONOBLOG */
.nav-link-container img {
  max-width: 10em;
  height: 4em;
  margin-right: 1em;
  margin-left: 1em;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* //links */
.nav-link-container ul {
  list-style: none;
  padding: 0;
}

.nav-link-container li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  padding: 12px;
  margin-left: 8px;
  margin-left: 8px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6em;
  transition: all 0.5s;
}

.nav-link-container a:hover {
  color: rgb(0, 183, 255);
  border-bottom: solid 1px rgb(0, 183, 255);
}

/* //active link */
.active {
  text-decoration: none;
  padding: 12px;
  margin-left: 8px;
  margin-left: 8px;
  color: rgb(0, 183, 255);
  border-bottom: solid 1px rgb(0, 183, 255);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6em;
  transition: all 0.5s;
}

/* //search barre */
.nav-search-container {
  display: flex;
  align-items: center;
}

.search-container button {
  border: none;
  box-shadow: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3, 5px;
  padding-right: 3, 5px;
  background-color: transparent;
  cursor: pointer;
}

.search-container button:hover {
  background-color: rgba(209, 207, 207, 0.562);
  border-radius: 5px;
}

/* //social icon */
.icon {
  color: white;
  font-size: 1.2em;
}

.icon-telegram {
  font-size: 1.6em;
  color: white;
  padding: 0.5em;
}

.banniere {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  margin-bottom: 1.7em;
}

/* SECTION PRINCIPALE */
.pub-contain {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 3/4 pour les news, 1/4 pour la sidebar */
  gap: 2em;
  margin-top: 2em;
  width: 90%;
  margin-inline: auto; /* centre le tout */
  align-items: start; /* aligne en haut */
}

/* CONTENU PRINCIPAL */
.news-contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2em;
}

.about_us-contain {
  width: 85%;
  margin-right: 2em;
  margin-left: 2em;
}

.about-title {
  color: orange;
}

.contact-contain {
  width: 85%;
  justify-content: center;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes de taille égale */
  gap: 1.5em; /* espace entre les champs */
  width: 100%;
  margin: auto;
}

/* Les deux premiers champs (nom et email) occupent 1 colonne chacun */
.contact-input {
  width: 100%;
  height: 2.5em;
  font-size: 17px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Le message prend toute la largeur (2 colonnes) */
.contact-message {
  grid-column: span 2;
  width: 100%;
  height: 10em;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Le bouton aussi */
.contact-button {
  grid-column: span 2;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 13px;
  background-color: rgb(0, 183, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.contact-button:hover {
  opacity: 0.8;
}

.contact-button:active {
  opacity: 0.5;
}

.item {
  width: 100%;
  margin-bottom: 1.6em;
  margin-top: 1.8em;
}

.picture-news {
  width: 100%;
  height: 33vh;
  object-fit: cover;
}

.picture-news:hover {
  opacity: 0.7;
}

.news-title {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.6em;
  text-decoration: none;
}

.news-title:hover {
  color: orange;
}

.news-description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6em;
  /* height: 100px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; */
}

.news-description a {
  text-decoration: none;
  color: rgb(0, 183, 255);
}

.news-time {
  color: rgb(151, 151, 151);
  font-size: 12px;
  font-weight: 400;
}

/* //asside section */
.link-side-contain {
  display: flex; /* tu peux aussi la passer en grid si besoin */
  flex-direction: column;
  gap: 1.5em;
}

.link-side-contain ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.asside-link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6em;
  transition: all 0.5s;
}

.asside-link:hover {
  color: rgb(0, 183, 255);
  padding-left: 10px;
}

.white {
  color: white;
}

.asside-title-link {
  color: orange;
  margin-bottom: 10px;
}

.asside-decoration {
  width: 30px;
  border: solid 1.5px orange;
  margin-bottom: 1.5em;
}

.delete-space {
  margin: 0;
}

.best-news-contain {
  display: flex;
}

.best-news-contain img {
  max-width: 10em;
  height: 4em;
  transition: all 0.4s;
}

.best-news-contain img:hover {
  opacity: 0.7;
}

.best-news-info {
  margin-left: 1em;
  margin-bottom: 3em;
}

.best-news-title {
  font-size: 14px;
  color: white;
  font-weight: 600;
  line-height: 1.6em;
  text-decoration: none;
  transition: all 0.4s;
}

.best-news-title:hover {
  color: rgb(0, 183, 255);
}

.best-news-time {
  color: rgb(151, 151, 151);
  font-size: 11px;
  font-weight: 400;
}

/* //footer */

footer {
  margin-top: 4em;
  align-content: end;
  background-color: orange;
}

.footer-links-container {
  display: flex;
  justify-content: space-around;
}

.footer-rule {
  display: flex;
  justify-content: center;
}

.footer-fast-links ul {
  list-style: none;
  padding-left: 10px;
}

.footer-links {
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6em;
  transition: all 0.5s;
}

.footer-links:hover {
  color: black;
}

.news-road {
  text-decoration: none;
  color: rgb(151, 151, 151);
  font-size: 12px;
  font-weight: 400;
}

.delete-decoration {
  text-decoration: none;
}

.news-road a {
  color: rgb(151, 151, 151);
  transition: all 0.5s;
}

.news-road a:hover {
  color: orange;
}

.news-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin-bottom: 1em;
  margin-top: 1em;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, auto)
  ); /* adapte le nombre de colonnes */
  gap: 0.5em; /* espace entre les icônes */
  margin-top: 2em;
  margin-bottom: 2em;
}

.icones {
  text-decoration: none;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 19px;
  text-align: center;
  transition: all 0.3s ease;
}

.icones:hover {
  opacity: 0.8;
  transform: scale(1.05); /* petit effet au survol */
}

.fb {
  background-color: rgb(62, 62, 233);
}

.ti {
  background-color: black;
}

.pi {
  background-color: red;
}

.ln {
  background-color: blue;
}

.wh {
  background-color: green;
}

.suggest-categorie-container {
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
}

.suggest-categorie-container > .suggest {
  width: 20%;
  margin-right: 1.6em;
  margin-left: 1.6em;
}

.suggest-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* colonnes adaptatives */
  gap: 2em; /* espace entre les éléments */
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 1.6em;
  margin-right: 1.6em;
}

.suggest img {
  width: 100%;
  height: 16vh;
  object-fit: cover;
  transition: all 0.5s;
}

.suggest img:hover {
  opacity: 0.7;
}

.suggest-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.6em;
  transition: all 0.5s;
}

.suggest-link:hover {
  color: orange;
}

.suggest-categorie {
  width: 20%;
  margin-right: 1em;
  margin-left: 1em;
}

.suggest-categorie img {
  width: 100%;
  height: 16vh;
  object-fit: cover;
  transition: all 0.5s;
}

.suggest-categorie img:hover {
  opacity: 0.7;
}

.suggest-more {
  width: 100%;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.suggest-more:hover {
  background-color: black;
}

.suggest-more p {
  color: rgba(209, 207, 207, 0.562);
  font-size: 12px;
}

.suggest-more-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(209, 207, 207, 0.514);
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-radius: 90px;
}

.suggest-more-link:hover {
  background-color: rgba(173, 170, 170, 0.959);
}

.suggest-more-link:active {
  opacity: 0.5;
}

.categories-news-choisen-title {
  width: 90%;
}

@media (max-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr; /* une seule colonne */
  }

  .contact-message,
  .contact-button {
    grid-column: span 1; /* plus besoin de spanning */
  }
}

@media (max-width: 992px) {
  .pub-contain {
    grid-template-columns: 1fr; /* une seule colonne */
  }

  .link-side-contain {
    margin-left: 0;
  }
}

@media (min-width: 1450px) {
  .news-contain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2em;
  }
}
